SENDER_EMAIL;
EMAIL_PASSWORD;
PORT;
NODE_ENV="development" | "production"
JWT_ACCESS_TOKEN_SECRET="32 bit code"
JWT_REFRESH_TOKEN_SECRET;
TEMP_TOKEN;
DB_URL;
REDIS_USERNAME;
REDIS_PASSWORD;
REDIS_HOST;
REDIS_PORT;
FRONTEND_URL;